/* Code for Firefox */
::-moz-selection {
    color: $alabaster;
    background: $fern-green;
}

::selection {
    color: $alabaster;
    background: $fern-green;
}

body{
    cursor:url(../img/cursor/cursor.cur), auto;
}