/* Code for Firefox */
::-moz-selection {
    color: $alabaster;
    background: $fern-green;
}

::selection {
    color: $alabaster;
    background: $fern-green;
}

body{
    cursor: url("../img/cursor/cursor.png"), auto !important;
}

a, button, .btn {
    cursor: url("../img/cursor/cursor-link.png"), auto !important;
}

.btn-outline-primary {
    border-color: $fern-green;
    transition: all .3s ease;
    background-color: white;
}

.btn-outline-primary:hover {
    background-color: $fern-green;
    border-color: $fern-green;
}

.btn-outline-primary:hover #start-btn{
    color: white;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }