//Variables

//Colors

/* SCSS HEX */
$orange-yellow-crayola: #e9c46aff;
$beau-blue: #b0c8d8ff;
$english-vermillion: #d64041ff;
$congo-pink: #f69891ff;
$green-sheen: #81b29aff;
$fern-green: #5a804fff;
$alabaster: #dee6dcff;

$orange-yellow-crayola_opa: rgba(233, 197, 106, 0.23);
$beau-blue_opa: rgba(176, 200, 216, 0.23);
$english-vermillion_opa: rgba(214, 64, 64, 0.23);
$congo-pink_opa: rgba(246, 152, 145, 0.23);
$green-sheen_opa: rgba(129, 178, 154, 0.23);
$fern-green_opa: rgba(90, 128, 79, 0.6);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e9c46aff, #b0c8d8ff, #d64041ff, #f69891ff, #81b29aff, #5a804fff, #dee6dcff);
$gradient-right: linear-gradient(90deg, #e9c46aff, #b0c8d8ff, #d64041ff, #f69891ff, #81b29aff, #5a804fff, #dee6dcff);
$gradient-bottom: linear-gradient(180deg, #e9c46aff, #b0c8d8ff, #d64041ff, #f69891ff, #81b29aff, #5a804fff, #dee6dcff);
$gradient-left: linear-gradient(270deg, #e9c46aff, #b0c8d8ff, #d64041ff, #f69891ff, #81b29aff, #5a804fff, #dee6dcff);
$gradient-top-right: linear-gradient(45deg, #e9c46aff, #b0c8d8ff, #d64041ff, #f69891ff, #81b29aff, #5a804fff, #dee6dcff);
$gradient-bottom-right: linear-gradient(135deg, #e9c46aff, #b0c8d8ff, #d64041ff, #f69891ff, #81b29aff, #5a804fff, #dee6dcff);
$gradient-top-left: linear-gradient(225deg, #e9c46aff, #b0c8d8ff, #d64041ff, #f69891ff, #81b29aff, #5a804fff, #dee6dcff);
$gradient-bottom-left: linear-gradient(315deg, #e9c46aff, #b0c8d8ff, #d64041ff, #f69891ff, #81b29aff, #5a804fff, #dee6dcff);
$gradient-radial: radial-gradient(#e9c46aff, #b0c8d8ff, #d64041ff, #f69891ff, #81b29aff, #5a804fff, #dee6dcff);