footer {
    color: black;

    .container {
        padding: 15px 0;
    }

    img {
        width: 300px;
    }

    .footer-top {
        background-color: $alabaster;

        p {
            margin-bottom: 0.3rem;
        }
    }

    .footer-copyright {
        background-color: $fern-green;
        color: white;

        p {
            margin-bottom: 0;
        }

        a {
            color: white;
            &:hover {
                text-decoration: none;
                color: $alabaster;
            }
        }
        
    }


}