.navbar-brand img {
    width: 250px;
}

.navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    vertical-align: middle;
}

li a {
    &:hover {
        background: $fern-green;

        span {
            color: white;
        }
    }

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: black;
    transition: background 0.1s linear,
    color 0.1s linear;
    padding: 50px;
}

.navbar li a {
    padding: 0px;
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.navbar-light .navbar-nav .nav-link {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    color: black;

    span {
        padding-top: 5px;
        display: block;
    }
}

.nav-item {
    margin: 0 8px;
}