.card{
    box-shadow: none;
    transition: all .3s ease;

    .small{
        color: black;
    }
    &.energie{
        border-color: $orange-yellow-crayola;
        .card-body{
            background-color: $orange-yellow-crayola;
        }
    }
    &.food-waste{
        border-color: $congo-pink;
        .card-body{
            background-color: $congo-pink;
        }
    }
    &.nachhaltigkeit{
        border-color: $beau-blue;
        .card-body{
            background-color: $beau-blue;
        }
    }
    &.klimawandel{
        border-color: $green-sheen;
        .card-body{
            background-color: $green-sheen;
        }
    }
    &.recycling{
        border-color: $english-vermillion;
        .card-body{
            background-color: $english-vermillion;
        }
    }
}

.card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}