.card{

    .small{
        color: black;
    }
    &.energie{
        border-color: $orange-yellow-crayola;
        .card-body{
            background-color: $orange-yellow-crayola;
        }
    }
    &.entsorgung{
        border-color: $congo-pink;
        .card-body{
            background-color: $congo-pink;
        }
    }
    &.nachhaltigkeit{
        border-color: $beau-blue;
        .card-body{
            background-color: $beau-blue;
        }
    }
    &.klimawandel{
        border-color: $green-sheen;
        .card-body{
            background-color: $green-sheen;
        }
    }
}