section.featured{
    background-color: $alabaster;

    div.container {
        padding: 60px 0;
    }
    h3{
        margin-bottom: 20px;
    }
    a:hover {
        text-decoration: none;
        color: black;
    }
}