div.signpost {
    position: absolute;
    bottom: -64px;
    right: 20px;
    width: 75%;
    a{
        text-decoration: none;
        color: black;
    }

    .post {
        fill: #9D5B00;
    }

    .sign {
        fill: #E9C46A;
    }

    #overview:hover,
    #before:hover,
    #next:hover {
        .sign {
            fill: #ebbc48;
        }
    }

    .signtext {
        font-family: 'BlockheadOT-Unplugged';
        font-size: 22px;
    }
}