.st0 {
    fill: #9D5B00;
}

.st1 {
    fill: #E9C46A;
    &:hover{
        fill: red;
    }
}

.st2 {
    font-family: 'BlockheadOT-Unplugged';
}

.st3 {
    font-size: 22px;
}

.st4 {
    font-size: 21px;
}

.st5 {
    font-size: 20px;
}

.st6 {
    fill: #FFE8B1;
}