div.signpost {
    position: absolute;
    bottom: -64px;
    right: 20px;
    width: 75%;
    a{
        text-decoration: none;
        color: black;
    }

    .post {
        fill: #9D5B00;
    }

    .sign {
        fill: #E9C46A;
    }

    #overview:hover,
    #before:hover,
    #next:hover {
        .sign {
            fill: #ebbc48;
        }
    }

    .signtext {
        font-family: blockhead-unplugged, sans-serif;
        font-size: 22px;
    }
}
@media screen and (max-width: 992px) {
    div.signpost{
        position: initial;
        height: fit-content;
        width: 100%;
    }
}