section.category {
    .energie {
        h2 {
            color: $orange-yellow-crayola;
        }
    }

    .food-waste {
        h2 {
            color: $congo-pink;
        }
    }

    .nachhaltigkeit {
        h2 {
            color: $beau-blue;
        }
    }

    .klimawandel {
        h2 {
            color: $green-sheen;
        }
    }

    .recycling {
        h2 {
            color: $english-vermillion;
        }
    }

    a:hover {
        text-decoration: none;
        color: black;
    }
}