section.lessons {
    a:hover {
        text-decoration: none;
        color: black;
    }
}

.gif_static {
    position: absolute;
    opacity: 1;
    transition: all .3s ease;
}

.gif_static:hover {
    opacity: 0;
}