section {
    a:hover {
        text-decoration: none;
        color: black;
    }

    h3.energie {
            color: $orange-yellow-crayola;
    }

    h3.food-waste {
            color: $congo-pink;
    }

    h3.nachhaltigkeit {
            color: $beau-blue;
    }

    h3.klimawandel {
            color: $green-sheen;
    }

    h3.recycling {
            color: $english-vermillion;
    }
}

.energy-section {
        background-color: $orange-yellow-crayola_opa;
        padding: 60px 0px;

}

.sustainability-section {
        background-color: $beau-blue_opa;
        padding: 60px 0px;
}

.climate-section{
        background-color: $green-sheen_opa; 
        padding: 60px 0px;   
}

.food-waste-section {
        background-color: $congo-pink_opa;
        padding: 60px 0px;
}

.recycling-section {
        background-color: $english-vermillion_opa;
        padding: 60px 0px;
}

.gif_static {
    position: absolute;
    opacity: 1;
}

.gif_static:hover {
    opacity: 0;
}
