section.lesson {
    .info {
        border: 3px solid $fern-green;
        border-radius: calc(0.25rem - 1px);
        padding: 20px;
    }

    .carousel img {
        object-fit: cover;
        /* Do not scale the image */
        object-position: center;
        /* Center the image within the element */
        width: 100%;
        height: 350px;
        margin-bottom: 1rem;
    }
 
    video{
        width: 100%;
    }

    &.energie {

        h2,
        h3,
        h4 {
            color: $orange-yellow-crayola;
        }

        .info {
            border-color: $orange-yellow-crayola;
        }
    }

    &.food-waste {

        h2,
        h3,
        h4 {
            color: $congo-pink;
        }

        .info {
            border-color: $congo-pink;
        }
    }

    &.nachhaltigkeit {

        h2,
        h3,
        h4 {
            color: $beau-blue;
        }

        .info {
            border-color: $beau-blue;
        }
    }

    &.klimawandel {

        h2,
        h3,
        h4  {
            color: $green-sheen;
        }

        .info {
            border-color: $green-sheen;
        }
    }

    &.recycling {

        h2,
        h3,
        h4  {
            color: $english-vermillion;
        }

        .info {
            border-color: $english-vermillion;
        }
    }
}